.list {
    width: 100%;
    height: auto;
    margin-top: 50px;
    background-color: brown;
}

.list p{
    color: white;
}

.list ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.list li {
    flex: 1 0 calc(25% - 10px);
}
