body, html{
	height: 100%;
	font-family: 'Courgette', cursive;
}

h1{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 54px;
	color: #FFFF00;
}

body h2,h3{
	font-family: 'Courgette', cursive;
	font-size: 42px;
	color: #CCCC00;

}
body p,a{
	/*font-family: 'PT Sans', sans-serif;*/
	font-family: 'Courgette', cursive;
	font-size: 12px;
	color: #CCCC00;
}

body::before{
	content: "";
	position: absolute;
	top:0;
	left: 0;

	width: 100%;height: 100%;
	background-image: url(../img/werewolf.jpg);
	filter: blur(3px);
	filter: alpha(opacity=50);
	-webkit-filter: blur(3px);


	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}

.body {
	position: relative;
	/*height: 100vh;*/
}

.fail{
	text-align: center;
	padding-top: 10vh;
}

.name{

	font-family: 'Pacifico', cursive;
	font-size: 42px;
	color:#FFFF00 !important;
	font-style: italic;
}

.mainPage{
	height: 100%;
	position: relative;
}

